<button (click)="back()" type="button" class="btn btn-primary btn-sm ml-1">
    <i class="fa fa-less-than" aria-hidden="true"></i> Back
</button>
<button (click)="resetForm()" type="button" class="btn btn-primary btn-sm ml-1">
    <i class="fa fa-plus" aria-hidden="true"></i> Thêm
</button>
<button class="btn btn-danger btn-sm ml-1" (click)="onSave()" [disabled]="!frmEmployee.valid" type="button">
    <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
<form [formGroup]="frmEmployee">
    <div class="form-group">
        <label>UUID : &nbsp;</label>
        <input type="text" formControlName="uuid" [(ngModel)]="employee.uuid" class="form-control" />
        <div class="alert alert-danger" *ngIf="!frmEmployee.controls['uuid'].valid && frmEmployee.controls['uuid'].touched ">{{ titleAlert }}</div>
    </div>

    <div class="form-group">
        <label>First Name : </label>
        <input type="text" formControlName="firstName" [(ngModel)]="employee.firstName" class="form-control" />
        <div class="alert alert-danger" *ngIf="!frmEmployee.controls['firstName'].valid && frmEmployee.controls['firstName'].touched">
            Bạn phải nhập ít nhất từ 15-50 kí tự
        </div>
    </div>
    <div class="form-group">
        <label>Last Name : </label>
        <input type="text" formControlName="lastName" [(ngModel)]="employee.lastName" class="form-control" />
        <div class="alert alert-danger" *ngIf="!frmEmployee.controls['lastName'].valid && frmEmployee.controls['lastName'].touched">
            Bạn phải nhập ít nhất từ 15-50 kí tự
        </div>
    </div>
    <div class="form-group">
        <label> Gender : </label>
        <select formControlName="gender" [(ngModel)]="employee.gender" class="form-control" >
            <option [selected]="employee.gender===true" value="true">Nam</option>
            <option [selected]="employee.gender===false" value="false">Nữ</option>
        </select>
    </div>
    <div class="form-group">
        <label>Phone : </label>
        <input type="number" name="phone" formControlName="phone" minlength="10" maxlength="13" [(ngModel)]="employee.phone" class="form-control" />
        <div class="alert alert-danger" *ngIf="!frmEmployee.controls['phone'].valid && frmEmployee.controls['phone'].touched">
           Số điện thoại chưa nhập
           <!-- <span *ngIf="!frmEmployee.controls['phone'].errors.minlength">Username should be longer than 8 characters!</span> -->
        </div>
        
    </div>
    
    <div class="form-group">
        <label>Address : </label>
        <input type="text" formControlName="address" [(ngModel)]="employee.address" class="form-control" />
        <div class="alert alert-danger" *ngIf="!frmEmployee.controls['address'].valid && frmEmployee.controls['address'].touched ">
            Địa chỉ phải từ 40 - 200 kí tự
        </div>
    </div>

    <div class="form-group">
        <label>Salary : </label>
        <input type="number" formControlName="salary" [(ngModel)]="employee.salary" class="form-control" />
        <div class="alert alert-danger" *ngIf="!frmEmployee.controls['salary'].valid && frmEmployee.controls['salary'].touched "  >
                Bạn chưa nhập trường này
        </div>
    </div>
    
        <div class="form-group">
                <label>responsibilities : </label>
                <input type="text" formControlName="responsilitie" [(ngModel)]="responsilitie" class="form-control" />
                <div class="alert alert-danger" *ngIf="!frmEmployee.controls['responsilitie'].valid && frmEmployee.controls['responsilitie'].touched "  >
                        Bạn chưa nhập trường này
                </div>
            </div>
</form>