<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>address</th>
            <th>Salary</th>
            <th>Responsilities</th>
        </tr>
    </thead>
    <tr>
        <td> 123 </td>
        <td>abc</td>
        <td>xyz</td>
        <td>Nam</td>
        <td>0123456</td>
        <td>Tam Đàn</td>
        <td>30000000</td>
        <td>asd,asd,ád</td>
    </tr>
    <tr>
            <td> 123 </td>
            <td>abc</td>
            <td>xyz</td>
            <td>Nam</td>
            <td>0123456</td>
            <td>Tam Đàn</td>
            <td>30000000</td>
            <td>asd,asd,ád</td>
        </tr>
</table>
<a  [routerLink]="['/employee/edit']" [routerLinkActive]="['router-link-active']" class="btn btn-danger" >Quản Lý Nhân sự</a>
